ORM en Python con SQLAlchemy
==========================================

Vamos a practicar con las dos "direcciones" posibles en ORM:
1. Utilizaremos sqlalquemy y Python para definir clases que se convertirán en tablas de una base de datos.
2. Mapearemos una base de datos existente en clases y objetos de Python

<div class="alert alert-warning" role="alert" style="margin: 10px">

### Uso

<p>Principalmente utilizaremos la librería de Python SQLAlchemy con numpy y pandas para ciertos tipos de estructuras de datos. La librería datetime para poder trabajar con fechas</p>
</div>

In [ ]:
import sqlalchemy
from sqlalchemy import Column, Integer, String, DateTime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

Para conectarse a la base de datos, hay que definir la conexión, con su tipo de gestor, usuario, contraseña, el host y el puerto. Por ejemplo, para MySQL:

<code style="background-color:rgba(0, 0, 0, 0.0470588)"> sqlalchemy.create_engine('mysql://usuario:password@host:0puerto0/database')</code>

SQLite utiliza un fichero local para almacenar la base de datos, así que no hace falta conectarse a un servidor externo:

<code style="background-color:rgba(0, 0, 0, 0.0470588)"> sqlalchemy.create_engine('sqlite://practica_orm.db')</code>

In [ ]:
import sqlalchemy

# Connect to the database...
from sqlalchemy import create_engine
engine = sqlalchemy.create_engine('sqlite:///./practica_orm.db')

### Creating Database-Backed Classes | Ejemplo: Gestión tienda de mascotas
---

El ORM utiliza clases heredadas de la clase base de SQLAlchemy.

In [ ]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
Base

Las clases en Python tienen los mismos atributos que una tabla del SGBD relacional:
- Columnas con datatypes (Integer, Float, etc.)
- Columnas con restricciones/indices (Primary Key, Foreign Key, etc.)

In [ ]:
import datetime
from sqlalchemy import Column, Integer, String, DateTime
class Owner(Base):
    __tablename__ = 'owner'
    
    owner_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    lastName = Column(String(20))
    sex = Column(String(1))
    birth = Column(DateTime)
    address = Column(String(100))
    
    # Defines to_string() representation 
    def __repr__(self):
        return "<Owner(name='%s', lastName='%s', sex='%s', birth='%s', address='%s')>" % (
                self.name, self.lastName, self.sex, self.birth, self.address)

SQLAlchemy crea las tablas por ti, siguiendo el esquema marcado...

In [ ]:
Base.metadata.create_all(engine)

##### Lo mismo en SQL:

```SQL
CREATE TABLE owner(
	owner_id SMALLINT NOT NULL,
	name VARCHAR(20), 
	lastName VARCHAR(20), 
	sex CHAR(1), 
	birth DATE, 
	address VARCHAR(100),
	PRIMARY KEY (owner_id)
);
```

## Dialectos de la base de datos

A pesar de que el lenguaje SQL es universal, cada motor de base de datos introduce ciertas variaciones propietarias sobre dicho lenguaje. A esto se le conoce como dialecto.

Una de las ventajas de usar SQLAlchemy es que, en principio, no te tienes que preocupar del dialecto a utilizar. El engine configura el dialecto por ti y se encarga de hacer las traducciones necesarias a código SQL. Esta es una de las razones por las que puedes cambiar el motor de base de datos realizando muy pocos cambios en tu código.

### Empezando Session

---

Después de crear el engine, que es lo que nos va a permitir interactuar con la base de datos, es necesario crear una sesión. Básicamente es una transacción, un conjunto de operaciones para ejecutar en bloque. La idea es que en una sesión, o se ejecuta todo, o no se ejecuta nada, para ayudarnos a mantener la integridad.

In [ ]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

### Añadir, Actualizar y enviar objetos
---

Una vez que se han creado las tablas, ya se pueden crear objetos conteniendo datos a añadir a la base de datos. Debemos mantener la estructura que hemos definido arriba.

In [ ]:
john_owner = Owner(name='John', lastName='Smith', sex='M', birth=datetime.datetime.strptime('24-05-1960', "%d-%m-%Y").date(), address='46th Av')
session.add(john_owner)
john_owner

Cuando haces una consulta con SQLAlchemy, los cambios no guardados se vuelcan en la base de datos (dentro de la misma transacción).

In [ ]:
our_owner = session.query(Owner).filter_by(name='John').first()

##### Issued SQL:

*Insert (Flush)*

```SQL
INSERT INTO owner(name, lastName, sex, birth, address) VALUES ('John', 'Smith', 'm', '24-05-1960', 'addressss');
```

*Query Select*

```SQL
SELECT * FROM owner
WHERE owner.name = 'John'
 LIMIT 1 OFFSET 0
```

Como `john_owner` y `our_owner` tiene la misma primary key, son mapeados como la misma instancia de objeto.

In [ ]:
john_owner is our_owner

También podemos añadir varias instancias (tuplas) al mismo tiempo, e incluso ir modificando los objetos hasta tener los valores que queremos almacenar en la base de datos.

In [ ]:
session.add_all([
        Owner(name='Wendy', lastName='Williams', sex='F', birth=datetime.datetime.strptime('21-03-1981', "%d-%m-%Y").date(), address='27th Av'),
        Owner(name='Mary', lastName='Contrary', sex='F', birth=datetime.datetime.strptime('04-12-1984', "%d-%m-%Y").date(), address='16th Av'),
        Owner(name='Fred', lastName='Flinstone', sex='M', birth=datetime.datetime.strptime('01-05-1989', "%d-%m-%Y").date(), address='6th Av')])
john_owner.lastName = 'Smithers'

Mientras dure la sesión, podemos consultar toda la información, pero esto no se almacena persistentemente en la bse de datos hasta que no hacemos un "commit" (Igual que en GitHub!).

In [ ]:
session.commit()

##### Issued SQL:

*Flush remaining changes (inserts and updates)*

```SQL
UPDATE owner SET lastName = 'Smithers' WHERE owner.owner_id = 1

INSERT INTO owner...
```

*Finally, commit the changes*

```SQL
COMMIT
```

### Rolling Back
---

En SQLAlchemy todas las operaciones de bases de datos se realizan en un transacción. 

Por ejemplo, poemos editar y consultar por objetos.

In [ ]:
john_owner.name = 'Juan'

fake_owner = Owner(name='Fake', lastName='Faken', sex='F', birth=datetime.datetime.strptime('04-12-1984', "%d-%m-%Y").date(), address='Fake st')
session.add(fake_owner)

session.query(Owner).filter(Owner.name.in_(['Juan', 'Fake'])).all()

Podemos hace run rollback, que es deshacer la ultima acción.

In [ ]:
session.rollback()

Repetimos la consulta

In [ ]:
session.query(Owner).filter(Owner.name.in_(['John', 'Fake'])).all()

Pero si hacemos "commit" que es "guardar" los cambios...

In [ ]:
john_owner.name = 'Juan'

fake_owner = Owner(name='Fake', lastName='Faken', sex='F', birth=datetime.datetime.strptime('04-12-1984', "%d-%m-%Y").date(), address='Fake st')
session.add(fake_owner)

session.commit()
session.query(Owner).filter(Owner.name.in_(['Juan', 'Fake'])).all()

No podemos hacer el rollback

In [ ]:
session.rollback()
session.query(Owner).filter(Owner.name.in_(['Juan', 'Fake'])).all()

In [ ]:
john_owner.name = 'John'
session.commit()
session.query(Owner).filter(Owner.name == 'Fake').delete()
session.commit()
session.query(Owner).filter(Owner.name.in_(['John', 'Juan', 'Fake'])).all()

##### Issued SQL:

```SQL
ROLLBACK
```

Los objetos anteriores se han reiniciado a sus anteriores estados y los cambios sin "commit" se han eliminado.

In [ ]:
john_owner.name

In [ ]:
fake_owner in session

### Querying - Consultas
---

In [ ]:
for instance in session.query(Owner).order_by(Owner.owner_id):
    print("Nombre: %s | ID: %s" % (instance.name, instance.owner_id))

##### Issued SQL:
???
```SQL
SELECT * FROM owner ORDER BY owner_id
```

In [ ]:
for name, lastname in session.query(Owner.name, Owner.lastName):
    print(name, lastname)

##### Issued SQL:
???
```SQL
SELECT name, lastName FROM owner
```

### Operadores de filtrado: AND, OR, =...

Como vimos en SQL, algunos operadores también pueden ser utilizados por SQLAlchemy, utilizando la función filter()

#### equals:

In [ ]:
for owner in session.query(Owner).filter(Owner.name == 'John'):
    print(owner)

#### not equals:

In [ ]:
for owner in session.query(Owner).filter(Owner.name != 'John'):
    print(owner)

#### LIKE:

In [ ]:
for owner in session.query(Owner).filter(Owner.name.like('%Joh%')):
    print(owner)

#### IN:

In [ ]:
for owner in session.query(Owner).filter(Owner.name.in_(['Jon', 'Wendy', 'Fred'])):
    print(owner)

#### NOT IN:

In [ ]:
for owner in session.query(Owner).filter(~Owner.name.in_(['John', 'wendy', 'fred'])):
    print(owner)

#### AND:

In [ ]:
for owner in session.query(Owner).filter(Owner.name == 'John', Owner.lastName == 'Smithers'):
    print(owner)

#### OR:

In [ ]:
from sqlalchemy import or_
for user in session.query(Owner).filter(or_(Owner.name == 'Fred', Owner.name == 'Wendy')):
    print(user)

### Sintaxis SQL

In [ ]:
result = engine.execute("SELECT * FROM owner")
for e in result:
    print(e)

### Relaciones
---

Varias clases pueden relacionarse utilizando enlaces, reflejando la restricción FOREIGN KEY de SQL.

In [ ]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Pet(Base):
    __tablename__ = 'pet'
    pet_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    specie = Column(String(20))
    sex = Column(String(1))
    birth = Column(DateTime)
    death = Column(DateTime)
    owner_id = Column(Integer, ForeignKey('owner.owner_id'))
    owner = relationship("Owner", back_populates="pet")
    
    def __repr__(self):
        return "<Pet(name='%s', specie='%s', sex='%s', birth='%s', death='%s')>" % (
                self.name, self.specie, self.sex, self.birth, self.death)

In [ ]:
Owner.pet = relationship("Pet", back_populates="owner")
Base.metadata.create_all(engine) # Flush schema changes to the DBMS.

Una vez la clave primaria y foránea están establecidas, las class se pueden conectar con relaciones.

In [ ]:
for owner in session.query(Owner).filter(Owner.name == 'John'):
    john_ower = owner
bobby_pet = Pet(name='Bobby', specie='Dalmata', sex='M', birth=datetime.datetime.strptime('21-09-2011', "%d-%m-%Y").date(), owner=john_owner)
session.add(bobby_pet)
bobby_pet

¿Qué estamos mapeando?
- ```owner.pet``` mapea a una lista de "owner" con un conjunto de objetos Pet.
- ```pet.owner``` mapea al dueño de la mascota.

Podemos crear un dueño "Silvia" e inicializarlo sin mascotas

In [ ]:
sil = Owner(name='Silvia', lastName='Mouse', sex='F', birth=datetime.datetime.strptime('12-10-1986', "%d-%m-%Y").date(), address='Main st')
sil.pet

Entonces, podemos añadir una o varias mascotas.

In [ ]:
sil.pet = [Pet(name='Peque', specie='Bichon Maltes', sex='M', birth=datetime.datetime.strptime('08-10-2008', "%d-%m-%Y").date()), Pet(name='Nano', specie='Yorkshire', sex='M', birth=datetime.datetime.strptime('16-08-2014', "%d-%m-%Y").date())]

In [ ]:
sil.pet[1]

Podemos ver ahora cómo se establece la relación. Dentro de la primera mascota del dueño Silvia, vemos que la propiedad "owner" corresponde al objeto sil.

In [ ]:
sil.pet[1].owner

Cuando añadimos el objeto jack a la sesión, las dos mascotas de "Jack" son también insertadas.

In [ ]:
session.add(sil)

session.commit()

sil = session.query(Owner).filter_by(name='Silvia').one()
sil.pet

In [ ]:
sil

# Mapeando tablas existentes

SQLAlchemy incorpora diversas funcionalidades para crear clases y objetos a partir de una base de datos existentes. Aunque hay distintas formas de mapear, la forma más sentilla es haciéndolo automáticamente, a partir de las funciones "automap".

Vamos a probarlo con la base de datos de prueba de una empresa discográfica.
<img src="https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg" />
Descarga: https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

In [ ]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

Base = automap_base()

# engine, suppose it has many tables
engine = create_engine("sqlite:////home/jovyan/20222023/orm-sqlalchemy-ferag/chinook.db")

# reflect the tables
Base.prepare(engine, reflect=True)

# mapped classes are now created with names by default
# matching that of the table name.
Albums = Base.classes.albums
Artists = Base.classes.artists
Customers = Base.classes.customers
Employees = Base.classes.employees
Genres = Base.classes.genres
Invoices = Base.classes.invoices
Invoice_items = Base.classes.invoice_items
Media_types = Base.classes.media_types
Playlists = Base.classes.playlists
Tracks = Base.classes.tracks
session = Session(engine)

In [ ]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

Base = automap_base()

# engine, suppose it has many tables
engine = create_engine("sqlite:////home/jovyan/20222023/orm-sqlalchemy-ferag/chinook.db")

# reflect the tables
Base.prepare(engine, reflect=True)

for e in Base.classes:
    print(e)

Vamos a añadir un artista:
Artists()

In [ ]:
# rudimentary relationships are produced
session.add(Artists(Name="Fernando Aguilar"))
session.commit()

Si alguna operación nos da error, SQLAlchemy intenará volverla hacer dentro de la misma sesión, por lo que a veces tenemos que volver atrás con un rollback()

In [ ]:
session.rollback()

In [ ]:
#We can add also a Customer with an Employee. officeCode=1 to avoid create a new object.
peter_employee = Employees(EmployeeId=12, LastName="BOSS", FirstName="Peter", Email="peterboss@mymusik.com")
session.add(peter_employee)
session.commit()

In [ ]:
session.add(Employees(EmployeeId=14, LastName="Worker2", FirstName="Nathan", Phone="9423342762",  Address="7th av", City="Santander", Country="Spain", ReportsTo=peter_employee.EmployeeId))
session.commit()

Listar los clientes cuyo nombre o apellido empiece por "J"

In [ ]:
for customers in session.query(Customers).filter(or_(Customers.FirstName.like('J%'), Customers.LastName.like('J%'))):
    print("%s %s" % (customers.FirstName, customers.LastName))

# Visualización de Datos

Desde SQLAlchemy y en combinación con la librería pandas, es posible almacenar los resultados de una consulta en una estructura de datos de tipo DataFrame. Empezaremos definiendo dos funciones que devuelvan, tras realizar una consulta con SQLAlchemy, los resultados en formato DataFrame.

In [ ]:
from collections import defaultdict
import pandas as pd
from sqlalchemy.inspection import inspect


def query_to_list(rset):
    """List of result
    Return: columns name, list of result
    """
    result = []
    for obj in rset:
        instance = inspect(obj)
        items = instance.attrs.items()
        result.append([x.value for _,x in items])
    return instance.attrs.keys(), result

def query_to_dict(rset):
    result = defaultdict(list)
    for obj in rset:
        instance = inspect(obj)
        for key, x in instance.attrs.items():
            result[key].append(x.value)
    return result

Con esta función como punto de partida, podemos realizar cualquier consulta de las que hemos visto y almacenar la información en un DataFrame. De este modo, podremos utilizar todas las funciones de pandas y otras librerías como matplotlib para visualizar esos datos en forma de gráficas.

In [ ]:
from sqlalchemy.inspection import inspect
rset = session.query(Invoices).all()
# Give me a DataFrame
# Inconvenient: it's not well ordered (e.g. 'id' is not the first)
df = pd.DataFrame(query_to_dict(rset))
print(df)
names, data = query_to_list(rset)
df2 = pd.DataFrame.from_records(data, columns=names)

In [ ]:
float(df2['Total'][4])

In [ ]:
import matplotlib.pyplot as plt
import matplotlib as mpl

df2['Total'].astype(float).plot()
plt.show()

In [ ]:
from sqlalchemy.sql import func
rset = session.query(Customers.Country.label("Country"),func.count(Customers.CustomerId).label("Num_clientes")).group_by(Customers.Country).order_by(func.count(Customers.CustomerId))
rset = list(rset)
col1 = [i[0] for i in rset]
col2 = [i[1] for i in rset]

number_per_country = pd.DataFrame(
    {'Country': col1,
     'Number': col2,
    })
number_per_country = number_per_country.set_index(['Country'])
number_per_country

#Para crear la gráfica

number_per_country.plot.bar();
plt.legend(['Clientes por país'],loc='upper left')
plt.xlabel('País')
plt.ylabel('Número de clientes')

plt.show();

De forma similar, podemos listar el número de pedidos de cada cliente:

*Query Select*

```SQL
SELECT customers.CustomerId, customers.FirstName, customers.LastName, COUNT(invoices.InvoiceId) FROM customers
JOIN invoices USING(CustomerId)
GROUP BY customers.CustomerId
```

In [ ]:
from sqlalchemy.sql import func
#Notice that we are using .desc() to order
rset = session.query(Customers.CustomerId.label("CustomerId"), Customers.FirstName.label("Nombre"), Customers.LastName.label("Apellido"), func.count(Invoices.InvoiceId).label("Num_pedidos")).filter(Customers.CustomerId==Invoices.CustomerId).group_by(Customers.CustomerId)
rset = list(rset)
col1 = [ "%s, %s" % (i[2], i[1]) for i in rset]
col2 = [i[3] for i in rset]

order_per_customer = pd.DataFrame(
    {'Name': col1,
     'Number_of_orders': col2,
    })

order_per_customer = order_per_customer.set_index(['Name']) #Indice para mostrar en el histograma
order_per_customer

#We can use order_per_customer.head(10).plot.bar(); to show only the 10 first
order_per_customer.plot.bar();

plt.legend(['Pedidos por cliente'],loc='upper left')
plt.xlabel('Clientes')
plt.ylabel('Pedidos')

fig_size = plt.rcParams["figure.figsize"]

# Set figure width to 12 and height to 9
fig_size[0] = 12
fig_size[1] = 9
plt.rcParams["figure.figsize"] = fig_size

plt.show()

Vamos ahora a combinar dos datos diferentes en una misma gráfica. Queremos ver el numero de albums y el numero de canciones de cada artista.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

rset = session.query(Artists.Name, func.count(Albums.AlbumId).label("Num_Tracks"), func.sum(Tracks.Milliseconds).label("Duracion_tracks")).filter(Artists.ArtistId==Albums.ArtistId).filter(Albums.AlbumId==Tracks.AlbumId).group_by(Artists.ArtistId)

rset = list(rset)
col1 = [i[0] for i in rset]
col2 = [i[1] for i in rset]
col3 = [i[2] for i in rset]

products = pd.DataFrame(
    {'Artist': col1,
     'Num_tracks': col2,
     'Duracion': col3,
    })

products = products.head(10)
products = products.set_index(['Artist']) #Indice para mostrar 


fig, ax = plt.subplots()
products['Num_tracks'].plot(kind='bar', color='red')
products['Duracion'].astype(float).plot(kind='line',secondary_y=True)
plt.ylabel('Num_tracks')
plt.ylabel('Duracion')
plt.legend(['Num_tracks'],loc='upper center')


labels = ax.get_xticklabels()
plt.setp(labels,rotation=90)

fig_size = plt.rcParams["figure.figsize"]

# Set figure width to 12 and height to 9
fig_size[0] = 12
fig_size[1] = 9
plt.rcParams["figure.figsize"] = fig_size

plt.show()

# Ejercicio guiado

En el portal de datos europeos, hay una serie de catálogos separados por temas o países. En el apartado de España, encontramos datos de diversos tipos. Por ejemplo, podemos encontrar la lista de mascotas registradas con chip en el País Vasco.

<p>**Recomendación**</p>

<p>Para estos ejercicios, vamos a trabajar con archivos CSV. Para no complicarnos, preferiblemente deberán ser ficheros con cabecera, en la que se nombren las distintas columnas, y que sea uniforma, es decir, que no haya otras cabeceras a lo largo del archivo.</p>
</div>

Esta es la URL del CSV con las mascotas:

http://opendata.euskadi.eus/contenidos/ds_registros/regia_animales_compania/es_eper/adjuntos/bizkaia.csv

Primero, vamos a descargar ese CSV. Puede tardar un poco...

In [ ]:
import requests

response = requests.get('http://opendata.euskadi.eus/contenidos/ds_registros/regia_animales_compania/es_eper/adjuntos/bizkaia.csv')
if response.status_code == 200:
    with open("./animales.csv", 'wb') as f:
        f.write(response.content)

Igual que hemos hecho antes, vamos a volcar esos datos en la dase de datos, creando para ellos una tabla. Hay que fijarse cómo están separadas las columnas, en este caso con ';'. Desde Jupyter, puedes abrir el CSV como texto para ver qué campo puede actuar como PRIMARY KEY y por tanto, utilizarlo como índice (index_col). Hay Ñs, así que tenemos que añadir la opción de encoding.

In [ ]:
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import numpy as np

#Por si no estás conectado...
engine = create_engine("sqlite:///./animales.db")

file_name = 'animales.csv'
df = pd.read_csv(file_name, parse_dates=True, sep=';', encoding = "ISO-8859-1")
df.to_sql(con=engine, name='animales', if_exists='replace')

Workaround para añadir PRIMARY KEY en sqlite

In [ ]:
res = engine.execute("SELECT sql FROM sqlite_master WHERE name = 'animales'")
for e in res:
    create_table = e[0]
create_table

In [ ]:
new_create_table = 'CREATE TABLE animales (\n\tpy_id BIGINT, \n\t"ID" TEXT PRIMARY KEY, \n\t"CHIP" TEXT, \n\t"FEC_ALT" TEXT, \n\t"FEC_NACIM" TEXT, \n\t"FEC_IMPLANT" TEXT, \n\t"ID_PROVINCIA" TEXT, \n\t"NOMBRE" TEXT, \n\t"ID_SEXO" TEXT, \n\t"ID_ESPECIE" TEXT, \n\t"ID_RAZA" TEXT, \n\t"ID_RAZA2" TEXT, \n\t"ID_APTITUD" TEXT, \n\t"PPP" BOOLEAN, \n\t"DIR_CP" TEXT, \n\t"DIR_PROVINCIA" TEXT, \n\t"DIR_MUNICIPIO" TEXT, \n\t"DIR_PAIS" TEXT, \n\t"BAJA" FLOAT, \n\t"DESAPARECIDO" TEXT, \n\t"APARECIDO" TEXT, \n\t"MOTIVO_BAJA" FLOAT, \n\t"FEC_BAJA" FLOAT, \n\t"Unnamed: 22" FLOAT, \n\t"Unnamed: 23" FLOAT, \n\t"Unnamed: 24" FLOAT, \n\tCHECK ("PPP" IN (0, 1))\n)'

In [ ]:
engine.execute("ALTER TABLE animales RENAME TO old_animales;")
engine.execute(new_create_table)
engine.execute("INSERT INTO animales SELECT * FROM old_animales")

Una vez cargados los datos en una tabla, podemos realizar consultas sobre ellos. Pero primero, tenemos que auto mapear esa tabla a una clase de python.

In [ ]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

Base = automap_base()
# engine, suppose it has many tables
engine = create_engine("sqlite:///./animales.db")

# reflect the tables
Base.prepare(engine, reflect=True)
for e in Base.classes:
    print(e)

# mapped classes are now created with names by default
# matching that of the table name.
Animales = Base.classes.animales

session = Session(engine)

In [ ]:
dir(Animales)

Vamos a ver el número de mascotas divididas por raza. Recuerda que puedes usar head() sobre el data frame para mostrar sólo unos pocos.

In [ ]:
from sqlalchemy.sql import func
import matplotlib.pyplot as plt
import matplotlib as mpl
#Notice that we are using .desc() to order
rset = session.query(Animales.ID_RAZA.label("Raza"),func.count(Animales.CHIP).label("Num_mascotas")).group_by(Animales.ID_RAZA).order_by(func.count(Animales.CHIP).desc())
rset = list(rset)
col1 = [i[0] for i in rset]
col2 = [i[1] for i in rset]

order_per_customer = pd.DataFrame(
    {'Raza': col1,
     'Num_mascotas': col2,
    })
order_per_customer = order_per_customer.head(15)
order_per_customer = order_per_customer.set_index(['Raza']) #Indice para mostrar en el histograma
order_per_customer

#We can use order_per_customer.head(10).plot.bar(); to show only the 10 first
order_per_customer.plot.bar();

plt.legend(['Mascotas por raza'],loc='upper left')
plt.xlabel('Raza')
plt.ylabel('N Mascotas')

fig_size = plt.rcParams["figure.figsize"]

# Set figure width to 12 and height to 9
fig_size[0] = 12
fig_size[1] = 9
plt.rcParams["figure.figsize"] = fig_size

plt.show()

# Ejercicio individual
<div class="alert alert-warning" role="alert" style="margin: 10px">
<p>**Ahora tú**</p>

<p> 1. Utiliza la base de datos de pruebas (chinook.db) para hacer una consulta que involucre al menos 2 tablas y muestra los resultados </p>

<p> 2. Con el ejercicio anterior como ejemplo, ¿Serías capaz de buscar algún dataset en CSV para sacar alguna información interesante?</p>
</div>



Recomiendo buscar en el portal europeo de datos en abierto:

https://www.europeandataportal.eu/data/es/organization/datos-gob-es
https://datasetsearch.research.google.com/

Rellena los siguientes apartados:

## Consulta DB pruebas

## Elección del Dataset
Nombre del dataset:

Temática:

¿Por qué has elegido este Dataset?

## Descarga del dataset y volcado en la base de datos

## ORM

Mapea la base de datos creada en Objetos, utilizando la librería SQLalchemy

## Visualización de Datos

Muestra al menos dos tipos de gráficos diferentes: Histograma, Barras, líneas, etc.
Explica qué se ve en el gráfico y por qué es interesante.